{% load widget_tweaks %}
<!-- FORMULARIO PERSONA -->
<label for="segundo_nombre" class="form-label"><b>Segundo Nombre: *</b></label>
<div class="input-group mb-2">
    <span class="input-group-text"><i class="fa fa-user"></i></span>
    {{ formPersona.per_segundo_nombre|add_class:'form-control' }}
</div>
{% if formPersona.per_segundo_nombre.errors %}
    <div class="text-danger">{{ formPersona.per_segundo_nombre.errors.0 }}</div>
{% endif %}

<label for="segundo_apellido" class="form-label"><b>Segundo Apellido: *</b></label>
<div class="input-group mb-2">
    <span class="input-group-text"><i class="fa fa-user"></i></span>
    {{ formPersona.per_segundo_apellido|add_class:'form-control' }}
</div>
{% if formPersona.per_segundo_apellido.errors %}
    <div class="text-danger">{{ formPersona.per_segundo_apellido.errors.0 }}</div>
{% endif %}

<label for="cedula" class="form-label"><b>Cédula: *</b></label>
<div class="input-group mb-2">
    <span class="input-group-text"><i class="fa-solid fa-id-card"></i></span>
    {{ formPersona.cedula|add_class:'form-control' }}
</div>
{% if formPersona.cedula.errors %}
    <div class="text-danger">{{ formPersona.cedula.errors.0 }}</div>
{% endif %}

<label for="telefono" class="form-label"><b>Teléfono: *</b></label>
<div class="input-group mb-2">
    <span class="input-group-text"><i class="fa-solid fa-phone"></i></span>
    {{ formPersona.per_telefono|add_class:'form-control' }}
</div>
{% if formPersona.per_telefono.errors %}
    <div class="text-danger">{{ formPersona.per_telefono.errors.0 }}</div>
{% endif %}

<label for="password" class="form-label"><b>Contraseña (opcional):</b></label>
<div class="input-group mb-2">
    <span class="input-group-text"><i class="fa fa-lock"></i></span>
    <input type="password" name="password" class="form-control" placeholder="Nueva contraseña si desea cambiarla">
</div>
