{% extends 'plantillas/MasterAdmin.html'%}
{% block title %}
Crear Administrador
{% endblock %}
{% block css %}
<style>
    body {
        background-color: #f4f8ff;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Admnistradores</h1>
    </div>

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{% url 'core_admin' %}">Inicio</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'administrador_index' %}">Administradores</a></li>
        <li class="breadcrumb-item active">Editar Administrador</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data" action="{% url 'administrador_actualizar' %}">
                {% csrf_token %}
                <div class="row g-4">
                    <input type="hidden" name="admin_id" value="{{admin.adm_id}}">
                    <div class="col-md-6">
                        <label for="first_name" class="form-label">
                            <b>Primer Nombre: *</b>
                        </label>
                        <div class="mb-4">
                            <div class="input-group">                               
                                <span class="input-group-text">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </span>
                                <input type="text" name="first_name" id="first_name" class="form-control" 
                                placeholder="Ingresar primer nombre" value="{{usuario.first_name}}">                  
                            </div>
                        </div>
                        <label for="segundo_nombre" class="form-label">
                            <b>Segundo Nombre: *</b>
                        </label>
                        <div class="mb-4">
                            <div class="input-group">                               
                                <span class="input-group-text">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </span>
                                <input type="text" name="segundo_nombre" id="segundo_nombre" class="form-control" 
                                placeholder="Ingresar segundo nombre" value="{{persona.per_segundo_nombre}}">                  
                            </div>
                        </div>
                        <label for="last_name" class="form-label">
                            <b>Apellido Paterno: *</b>
                        </label>
                        <div class="mb-4">
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </span>
                                <input type="text" name="last_name" id="last_name" class="form-control" 
                                placeholder="Ingresar apellido paterno" value="{{usuario.last_name}}">     
                            </div>
                        </div>
                         <label for="segundo_apellido" class="form-label">
                            <b>Apellido Materno: *</b>
                        </label>
                        <div class="mb-4">
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </span>
                                <input type="text" name="segundo_apellido" id="segundo_apellido" class="form-control" 
                                placeholder="Ingresar apellido materno" value="{{persona.per_segundo_apellido}}">     
                            </div>
                        </div>
                        <label for="fecha_nacimiento" class="form-label">
                            <b>Fecha de Nacimiento: *</b>
                        </label>
                        <div class="mb-4">
                            <div class="input-group">                               
                                <span class="input-group-text">
                                    <i class="fas fa-birthday-cake" aria-hidden="true"></i>
                                </span>
                                <input type="date" name="fecha_nacimiento" id="fecha_nacimiento" class="form-control"
                                     value="{{persona.per_fecha_nacimiento|date:'Y-m-d'}}">                                                             
                            </div>
                        </div>
                        <label for="cedula" class="form-label">
                            <b>Cédula: *</b>
                        </label>
                        <div class="mb-4">
                            <div class="input-group">                               
                                <span class="input-group-text">
                                    <i class="fa-solid fa-id-card" aria-hidden="true"></i>
                                </span>
                                <input type="text" name="cedula" id="cedula" class="form-control" 
                                placeholder="Ingrese su número de cédula" value="{{persona.per_cedula}}">                                                             
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="telefono" class="form-label">
                            <b>Teléfono: *</b>
                        </label>
                        <div class="mb-4">
                            <div class="input-group">                               
                                <span class="input-group-text">
                                    <i class="fa-solid fa-phone" aria-hidden="true"></i>
                                </span>
                                <input type="text" name="telefono" id="telefono" class="form-control" 
                                    placeholder="Ingresar su número de teléfono" value="{{persona.per_telefono}}">                                                             
                            </div>
                        </div>
                        <label for="email" class="form-label">
                            <b>Dirección de Correo: *</b>
                        </label>
                        <div class="input-group mb-4">
                            <span class="input-group-text">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </span>
                            <input type="text" name="email" id="email" class="form-control" 
                                placeholder="ejemplo@ejemplo.com" value="{{usuario.email}}">                                
                        </div>     
                        <label for="fotografia" class="form-label">
                                <b>Fotografía (Opcional):</b>
                            </label>
                        <!-- Mostrar la foto actual -->
                        <div class="d-flex justify-content-center">
                            {% if admin.adm_fotografia %}
                                <img id="foto-actual" src="{{ admin.adm_fotografia.url }}" alt="Fotografía Actual" class="img-thumbnail mb-2" style="max-width: 150px;">
                            {% endif %}
                        </div>
                        <!-- Campo para subir una nueva foto -->
                        <div class="input-group mb-4">
                            <span class="input-group-text">
                                <i class="fa-solid fa-camera" aria-hidden="true"></i>
                            </span>
                            <input type="file" name="fotografia" id="fotografia" accept="image/*" class="form-control">
                        </div>
                        <!-- Imagen para previsualización -->
                        <div class="d-flex justify-content-center">
                            <img id="preview" src="#" alt="Previsualización" class="img-thumbnail" style="max-width: 150px; display: none;">
                        </div>
                        <label for="username" class="form-label">
                            <b>Nombre de Usuario: *</b>
                        </label>
                        <div class="input-group mb-4">
                            <span class="input-group-text">
                                <i class="fa-solid fa-circle-user" aria-hidden="true"></i>
                            </span>
                            <input type="text" name="username" id="username" class="form-control" 
                            placeholder="Ingresar nombre de usuario" value="{{usuario.username}}">
                        </div>
                        <label for="password" class="form-label">
                            <b>Contraseña (Opcional):</b>
                        </label>
                        <div class="input-group mb-4">
                            <span class="input-group-text">
                                <i class="fa-solid fa-lock" aria-hidden="true"></i>
                            </span>
                            <input type="password" name="password" id="password" class="form-control" placeholder="Nueva contraseña (opcional)">
                        </div>
                        <label for="estado" class="form-label">
                            <b>Estado: *</b>
                        </label>
                       <div class="input-group mb-4">
                            <div class="ms-4">
                                <input class="form-check-input" type="checkbox" name="estado" id="estado" value="True" {% if admin.adm_estado %}checked{% endif %}>
                                <label class="form-check-label ms-2" for="estado">{% if admin.adm_estado %}Activo{% else %}Inactivo{% endif %}</label>
                            </div>
                        </div>
                    </div>
                </div>       
                <div class="col-md-12 text-center mt-5">
                    <button class="btn btn-primary " type="submit">Actualizar Administrador</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    const inputFoto = document.getElementById('fotografia');
    const preview = document.getElementById('preview');

    inputFoto.addEventListener('change', function(){
        const file = this.files[0];
        if(file){
            const reader = new FileReader();
            reader.onload = function(e){
                preview.setAttribute('src', e.target.result);
                preview.style.display = 'block';
            }
            reader.readAsDataURL(file);
        } else {
            preview.setAttribute('src', '#');
            preview.style.display = 'none';
        }
    });
</script>


{% endblock %}



{% block js %}

{% endblock %}