{% extends "plantillas/MasterAdmin.html" %}
{% load static %}
{% block title %}Avances{% endblock %}
{% block css %}

{% endblock %}
{% block content %}
<div class="container-fluid ">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ clase.cla_nombre }}</h1>


    </div>

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{% url 'core_admin' %}">Inicio</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'matricula_index' %}">Cursos</a></li>
        <li class="breadcrumb-item active">Avances </li>

    </ol>

    <div class="card mb-4">
         <div class="card-header d-flex justify-content-between align-items-center">
          <div>
              <i class="fas fa-table me-1"></i>
              <strong>{{ clase.fk_modulo.mod_nombre }}</strong>
          </div>
          <div class="btn-group">
              <button type="button" class="btn btn-sm btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  📄 PDF
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                  {% for nivel in niveles %}
                  <li>
                      <a class="dropdown-item" href="{% url 'pdf_nivel_admin' clase.cla_id nivel.niv_id %}" target="_blank" rel="noopener noreferrer">
                          <i class="fas fa-file-alt text-primary"></i> PDF {{ nivel.niv_nombre }}
                      </a>
                  </li>
                  {% endfor %}
                  <li><hr class="dropdown-divider"></li>
                  <li>
                      <a class="dropdown-item text-primary fw-bold" href="{% url 'pdf_general_admin' clase.cla_id %}" target="_blank" rel="noopener noreferrer">
                          <i class="fas fa-file-pdf text-danger"></i> 📘 PDF Reporte General
                      </a>
                  </li>
              </ul>
          </div>
      </div>
        <div class="card-body">
            <div class="table-responsive">
              {% load custom_filters %}
                <table class="table table-striped" id="tbl-matriculados-admin" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th style="width: 1%;">#</th>
                        <th>Estudiante</th>
                        {% for nivel in niveles %}
                        <th  class="text-center align-items-center justify-content-center ">{{ nivel.niv_nombre }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for fila in avance_data %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            
                            {{ fila.estudiante.fk_id_persona.fk_id_usuario.first_name }}
                            {{ fila.estudiante.fk_id_persona.per_segundo_nombre }}
                            {{ fila.estudiante.fk_id_persona.fk_id_usuario.last_name }}
                            {{ fila.estudiante.fk_id_persona.per_segundo_apellido }}
                        </td>
                        {% for nivel in fila.niveles %}
                        <td class="text-center align-items-center justify-content-center">
                            <div class="d-flex align-items-center justify-content-center gap-2">
                                    <span class="fw-bold">{{ nivel.nota }}</span>

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fas fa-eye"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item" href="#"   onclick="verIntentos('{{ fila.matricula_id }}', '{{ nivel.nivel_id }}')">
                                                    📘 Historial 
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#" onclick="abrirModalVidas('{{ fila.matricula_id}}', '{{ nivel.nivel_id }}')">❤️ Vidas </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="{% url 'reporte_intento_individual_admin' matricula_id=fila.matricula_id nivel_id=nivel.nivel_id %}"> <i class="fas fa-file-pdf text-danger"></i> Reporte </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    <tr style="background-color: #f2f2f2; font-weight: bold;">
                      <td>—</td> <!-- Columna del contador -->
                      <td>Promedio del nivel</td> <!-- Columna del nombre -->

                      {% for nivel in niveles %}
                      <td class="text-center">
                          {{ promedios_por_nivel|get_item:nivel.niv_id }}
                      </td>
                      {% endfor %}
                  </tr>
                </tbody>
            </table>
            </div>


        </div>
    </div>
</div>

<!-- modal de intentos -->
<div class="modal fade" id="modalHistorialIntentos" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content border-0 shadow">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title">📘 Historial de Intentos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <table class="table table-striped text-center">
          <thead>
            <tr>
              <th>Nota</th>
              <th>Vidas Usadas</th>
              <th>Fecha</th>
            </tr>
          </thead>
          <tbody id="tabla-intentos-body">
            <!-- Aquí se llenan los intentos vía JavaScript -->
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de vidas extras -->

<div class="modal fade" id="modalVidas" tabindex="-1" aria-labelledby="modalVidasLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="formVidas">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="modalVidasLabel">Asignar vidas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="matricula_id" id="vidasMatriculaId">
          <input type="hidden" name="nivel_id" id="vidasNivelId">
         <div class="mb-3">
            <label for="vidas" class="form-label">Número de vidas: <span id="vidasValor">3</span></label>
            <input type="range" class="form-range" min="0" max="5" step="1" id="vidas" name="vidas" value="3" oninput="document.getElementById('vidasValor').innerText = this.value">
            </div>
          <div class="mb-3">
            <label for="observaciones" class="form-label">Observaciones</label>
            <textarea class="form-control" name="observaciones" id="observaciones" rows="3"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Asignar</button>
        </div>
      </form>
    </div>
  </div>
</div>

{%block js%}
<script>
    document.addEventListener("DOMContentLoaded", function() {

        recargarTablaMatriculados();
    });

    
      function recargarTablaMatriculados(){
        if (!$.fn.DataTable.isDataTable('#tbl-matriculados-admin')) {
          $('#tbl-matriculados-admin').DataTable({
              "language": {
                  "lengthMenu": "Mostrar _MENU_ registros por página",
                  "zeroRecords": "No se encontraron resultados",
                  "info": "Mostrando página _PAGE_ de _PAGES_",
                  "infoEmpty": "No hay registros disponibles",
                  "infoFiltered": "(filtrado de _MAX_ registros totales)",
                  "search": "Buscar:",
                  "paginate": {
                      "first": "Primero",
                      "last": "Último",
                      "next": "Siguiente",
                      "previous": "Anterior"
                  }
              }
          });

        }
      }

    function verIntentos(matriculaId, nivelId) {
    fetch(`/historial-intentos/?matricula_id=${matriculaId}&nivel_id=${nivelId}`)
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                const tbody = document.getElementById('tabla-intentos-body');
                tbody.innerHTML = '';

                if (data.intentos.length === 0) {
                    tbody.innerHTML = '<tr><td colspan="3" class="text-center">Sin intentos registrados</td></tr>';
                } else {
                    data.intentos.forEach(item => {
                        const fila = `<tr>
                            <td>${item.nota}</td>
                            <td>${item.vidas}</td>
                            <td>${item.fecha}</td>
                        </tr>`;
                        tbody.innerHTML += fila;
                    });
                }

                const modal = new bootstrap.Modal(document.getElementById('modalHistorialIntentos'));
                modal.show();
            }
        });
}

//funcion de las vidas extras 
  function abrirModalVidas(matriculaId, nivelId) {
    document.getElementById('vidasMatriculaId').value = matriculaId;
    document.getElementById('vidasNivelId').value = nivelId;
    document.getElementById('vidas').value = '';
    document.getElementById('observaciones').value = '';
    new bootstrap.Modal(document.getElementById('modalVidas')).show();
  }

  document.getElementById('formVidas').addEventListener('submit', function(e) {
    e.preventDefault();

    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    const formData = new FormData(this);

    fetch('{% url "asignar_vidas_docente" %}', {
      method: 'POST',
      headers: {
        'X-CSRFToken': csrfToken
      },
      body: formData
    })
    .then(response => response.json())
    .then(data => {
      if (data.success) {
        alert(data.message);
        bootstrap.Modal.getInstance(document.getElementById('modalVidas')).hide();
        location.reload(); // Recarga la tabla si deseas
      } else {
        alert(data.message || "Error al asignar vidas.");
      }
    })
    .catch(error => {
      console.error("Error:", error);
      alert("Ha ocurrido un error inesperado.");
    });
  });
</script>

{% endblock %}
{% endblock %}