<h1>{{ modo|title }} Módulo</h1>
<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.mod_nombre.label_tag }}
        {{ form.mod_nombre }}
        {% if form.mod_nombre.errors %}
            <div class="text-danger">{{ form.mod_nombre.errors }}</div>
        {% endif %}
    </div>

    <div class="mb-3">
        {{ form.mod_descripcion.label_tag }}
        {{ form.mod_descripcion }}
    </div>

    <div class="form-check mb-3">
        {{ form.mod_estado }}
        {{ form.mod_estado.label_tag }}
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a href="{% url 'modulos_index' %}" class="btn btn-secondary">Cancelar</a>
</form>
