{% extends 'plantillas/MasterAdmin.html'%}
{% block title %}
Crear Administrador
{% endblock %}
{% block css %}
<style>
    body {
        background-color: #f4f8ff;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Docentes</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-upload fa-sm text-white-50"></i> Importar Docentes </a>
    </div>

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{}">Inicio</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'docente_index' %}">Docentes</a></li>
        <li class="breadcrumb-item active">Crear Docente</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data" action="{% url 'docente_nuevo' %}">
                {% csrf_token %}
                <div class="row g-4">
                    <div class="col-md-6">
                        <label for="first_name" class="form-label">
                            <b>Primer Nombre: *</b>
                        </label>
                        <div class="mb-4">
                            <div class="input-group">                               
                                <span class="input-group-text">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </span>
                                <input type="text" name="first_name" id="first_name" class="form-control" 
                                placeholder="Ingresar primer nombre" value="{{usuarios.data.first_name}}">                  
                            </div>
                        </div>
                        <label for="segundo_nombre" class="form-label">
                            <b>Segundo Nombre: *</b>
                        </label>
                        <div class="mb-4">
                            <div class="input-group">                               
                                <span class="input-group-text">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </span>
                                <input type="text" name="segundo_nombre" id="segundo_nombre" class="form-control" 
                                placeholder="Ingresar segundo nombre" value="{{usuarios.data.segundo_nombre}}">                  
                            </div>
                        </div>
                        <label for="last_name" class="form-label">
                            <b>Apellido Paterno: *</b>
                        </label>
                        <div class="mb-4">
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </span>
                                <input type="text" name="last_name" id="last_name" class="form-control" 
                                placeholder="Ingresar apellido paterno" value="{{usuarios.data.last_name}}">     
                            </div>
                        </div>
                         <label for="segundo_apellido" class="form-label">
                            <b>Apellido Materno: *</b>
                        </label>
                        <div class="mb-4">
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </span>
                                <input type="text" name="segundo_apellido" id="segundo_apellido" class="form-control" 
                                placeholder="Ingresar apellido materno" value="{{usuarios.data.segundo_apellido}}">     
                            </div>
                        </div>
                        <label for="fecha_nacimiento" class="form-label">
                            <b>Fecha de Nacimiento: *</b>
                        </label>
                        <div class="mb-4">
                            <div class="input-group">                               
                                <span class="input-group-text">
                                    <i class="fas fa-birthday-cake" aria-hidden="true"></i>
                                </span>
                                <input type="date" name="fecha_nacimiento" id="fecha_nacimiento" class="form-control"
                                     value="{{usuarios.data.fecha_nacimiento}}">                                                             
                            </div>
                        </div>
                        <label for="cedula" class="form-label">
                            <b>Cédula: *</b>
                        </label>
                        <div class="mb-4">
                            <div class="input-group">                               
                                <span class="input-group-text">
                                    <i class="fa-solid fa-id-card" aria-hidden="true"></i>
                                </span>
                                <input type="text" name="cedula" id="cedula" class="form-control" 
                                placeholder="Ingrese su número de cédula" value="{{usuarios.data.cedula}}">                                                             
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="telefono" class="form-label">
                            <b>Teléfono: *</b>
                        </label>
                        <div class="mb-4">
                            <div class="input-group">                               
                                <span class="input-group-text">
                                    <i class="fa-solid fa-phone" aria-hidden="true"></i>
                                </span>
                                <input type="text" name="telefono" id="telefono" class="form-control" 
                                    placeholder="Ingresar su número de teléfono" value="{{usuarios.data.telefono}}">                                                             
                            </div>
                        </div>
                        <label for="email" class="form-label">
                            <b>Dirección de Correo: *</b>
                        </label>
                        <div class="input-group mb-4">
                            <span class="input-group-text">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </span>
                            <input type="text" name="email" id="email" class="form-control" 
                                placeholder="ejemplo@ejemplo.com" value="{{usuarios.data.email}}">                                
                        </div>     
                        <label for="fotografia" class="form-label">
                                <b>Fotografía (Opcional):</b>
                            </label>
                        <div class="input-group mb-4">
                            <span class="input-group-text">
                                <i class="fa-solid fa-camera" aria-hidden="true"></i>
                            </span>
                            <input type="file" name="fotografia" id="fotografia" accept="image/*" class="form-control">
                        </div>
                        <label for="username" class="form-label">
                            <b>Nombre de Usuario: *</b>
                        </label>
                        <div class="input-group mb-4">
                            <span class="input-group-text">
                                <i class="fa-solid fa-circle-user" aria-hidden="true"></i>
                            </span>
                            <input type="text" name="username" id="username" class="form-control" 
                            placeholder="Ingresar nombre de usuario" value="{{usuarios.data.username}}">
                        </div>
                        <label for="password1" class="form-label">
                            <b>Contraseña: *</b>
                        </label>
                        <div class="input-group mb-4">
                            <span class="input-group-text">
                                <i class="fa fa-lock"" aria-hidden="true"></i>
                            </span>
                            <input type="password" name="password1" id="password1" class="form-control" 
                                placeholder="Ingrese una contraseña" value="{{usuarios.data.password1}}">
                        </div> 
                        <label for="password2" class="form-label">
                            <b>Confirmar Contraseña: *</b>
                        </label>
                        <div class="input-group mb-4">
                            <span class="input-group-text">
                                <i class="fa fa-lock"" aria-hidden="true"></i>
                            </span>
                            <input type="password" name="password2" id="password2" class="form-control" 
                                placeholder="Confirmar contraseña" value="{{usuarios.data.password2}}">
                        </div> 
                    </div>
                </div>       
                <div class="col-md-12 text-center mt-5">
                    <button class="btn btn-primary " type="submit">Crear Docente</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}

{% endblock %}