{% extends 'plantillas/MasterAdmin.html'%}
{% load form_tags %}
{% block title %}
Crear Docente
{% endblock %}
{% block css %}
<style>
    body {
        background-color: #f4f8ff;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Docentes</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-upload fa-sm text-white-50"></i> Importar Docentes </a>
    </div>

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{% url 'core_admin' %}">Inicio</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'docente_index' %}">Docentes</a></li>
        <li class="breadcrumb-item active">Crear Docente</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data" action="{% url 'docente_nuevo' %}">
                {% csrf_token %}
                <div class="row g-4">
                    <!-- FORMULARIO DE USUARIO -->
                    {% include 'includes/IncludeCreateUserForm.html' %}
                    <!-- FORMULARIO DE PERSONA -->
                    {% include 'includes/IncludeCreatePersonaForm.html'  %}
                </div>       
                <div class="col-md-12 text-center mt-5">
                    <button class="btn btn-primary " type="submit">Crear Docente</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    const inputFoto = document.getElementById('fotografia');
    const preview = document.getElementById('preview');

    inputFoto.addEventListener('change', function(){
        const file = this.files[0];
        if(file){
            const reader = new FileReader();
            reader.onload = function(e){
                preview.setAttribute('src', e.target.result);
                preview.style.display = 'block';
            }
            reader.readAsDataURL(file);
        } else {
            preview.setAttribute('src', '#');
            preview.style.display = 'none';
        }
    });
</script>
{% endblock %}

{% block js %}

{% endblock %}