# Byte-compiled / optimized / DLL files
# Ignorar archivos compilados de Python
__pycache__/ 
*.py[cod]
*.so
*.pyc
*.pyo

# SQLite database
db.sqlite3

# Environment variables
.env
*.env

# Virtual environments
venv/
env/

# VSCode project settings
.vscode/

# Static files (colectados con collectstatic)
staticfiles/
static/

# Media uploads
media/

# Logs
*.log

# MacOS, Windows junk
.DS_Store
Thumbs.db
